.about {
  box-sizing: border-box;
  display: flex;
  padding: 2rem 2rem;
  gap: 2rem;
  height: 100vh;

}

.about-col-1 {
  display: none;
  width: 50vw;
  height: 50vh;
  border-radius: 100rem;
  background-image: url('../assets/about-image.jpg');
  background-position: center;
}

.about-col-2 {
  
}

.about-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.about-title span {
  color: #143177;
}

.about-content {
  text-align: justify;
}

@media (min-width: 640px) {
  .about {
    align-items: center;
  }
  
  .about-col-1 {
    display: flex;
  }

  .about-col-2 {
    width: 40vw;
  }
}