.home {
    box-sizing: border-box;
    height: calc(100vh - 6rem);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -5rem;
}

.home-title {
    margin-top: -5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-title-img {
    margin-top: -6rem;
}

.home-title-img img {
    width: 20rem;
}

.home h1 {
    font-size: 3rem;
    line-height: 3rem;
}

.home-img {
    width: 18rem;
}

.home h1:last-child {
    color: #143177;
}



