.services {
  height: 140vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding-top: 2rem;
}

.services h2 {
  font-size: 2rem;
}

.services span {
  color: #143177;
}

.services-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.service-card {
  box-sizing: border-box;
  width: 20rem;
  height: 15rem;
  border-top: 3px solid #143177;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  padding: 2rem 2rem 0.5rem 2rem;
}

.service-card img {
  width: 3rem;
}

.service-card p {
  text-align: justify;
}


@media (min-width: 640px) {
  .services { 
    height: 70vh;
    justify-content: center;
    align-items: center;
    padding-top: 0;
  }
  
  .services-cards {
    gap: 1rem;
  }

  .service-card {
    padding: 0.5rem;
    width: 13rem;
    height: 10rem;
  }

  .service-card img {
    width: 1.5rem;
  }

  .service-card p {
    font-size: 0.7rem;
  }
}

@media(max-height: 900px) and (orientation: portrait) {
  .services {
    height: 160vh
  }
}

@media(max-height: 750px) and (orientation: portrait) {
  .services {
    height: 200vh
  }
}

