
.why {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}


.why-col-1 {
  padding: 0 2rem;
}

.why-col-1 h2 {
  font-size: 2rem;
}

.why-col-1 span {
  color: #143177;
}

.why-content {
  text-align: justify;
}

.why-content{
  margin: 1rem 0;
}

.why-col-2 {
  display: none;
  flex-direction: column;
}

.why-col-2 img {
  width: 20rem;
}

.check {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}

.check-icon {
  width: 2rem;
  height: 2rem;
}

.check-text {
  font-weight: 500;
}



@media (min-width: 640px){
  .why {
    padding: 5rem 2rem 0 4rem;
    justify-content: space-between;
  }

  .why-col-2 {
    display: flex;
  }

  .check-icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}



